<div class="form-group">
    <label for="id">ID</label>
    <p>{{ ticket.id }}</p>
</div>

<div class="form-group">
    <label for="user">User</label>
    <p>{{ ticket.user }}</p>
</div>

<div class="form-group">
    <label for="company">Company</label>
    <p>{{ ticket.company }}</p>
</div>

<div class="form-group">
    <label for="channel">Channel</label>
    <p>{{ ticket.channel }}</p>
</div>

<div class="form-group">
    <label for="type">Type</label>
    <p>{{ ticket.type }}</p>
</div>

<div class="form-group">
    <label for="module">Module</label>
    <p>{{ ticket.module }}</p>
</div>

<div class="form-group">
    <label for="created_at">Created At</label>
    <p>{{ ticket.created_at }}</p>
</div>

<div class="form-group">
    <label for="local_user.name">Created By</label>
    <p>{{ ticket.local_user.name }}</p>
</div>

<div class="form-group">
    <label for="description">Description</label>
    <p>{{ ticket.description }}</p>
</div>